/*
*********
RESET
*********
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*
*********
COMMON
*********
*/
i{
    padding-right: 5px;
}
.btn{
    background-color: #0061ff;
    padding: 10px 15px;
    color: white;
    border: none;
    opacity: 0,6;
    transition: 0,3s;
}
.btn:hover{
    opacity:1;
}
h1,h2,h3{
    font-weight: bolder;
}
.hbox{
    margin: 20px auto; 
    max-width: 1100px;
    display: flex;
}
.mbox{
    width: 30%;
    border: 1px solid #d0d0d3;
}
.col{
    padding: 0px 30px;
}
.col span{
    font-weight: bolder;
}
.col h3{
    margin: 30px 0px 20px 0px;
}
.grey{
    color: #7f6666;
    margin: 15px 0px;
}
.change{
    margin-top: 10px;
    color: grey;
}
.price{
    /*margin: 0px 0px 15px 0px;*/
}
.col ul{
    list-style-type: none;
    margin-top: 55px;
    text-indent: 2px;
}
.list li{
    padding: 25px 0px;
}
.col .btn{
    margin-top: 50px;
}
.col p{
    margin:35px 0px 40px 0px;
}
.partial{
    height: 50px;
    position: relative;
    margin:40px 0px;
  }
.partial:after {
    content: '';
    width: 60px;
    height: 1px;
    background: gray;
    position: absolute;
    
  }
 .blue i{
    color: #0061ff;
 }
 .large{
    padding: 50px 0px;
 }
/*
*********
HEADER
*********
*/

header{
    background-color: #b4d0e7;
}

.container{
    height: 750px;
    margin: 20px auto;
    padding-top: 80px;
}

header nav{
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white
}

.navigazione{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.navigazione ul{
    display: flex;
    align-items: center;
    padding: 30px 20px;
    gap: 0 20px;
}
header nav ul li{
    list-style-type: none;
    padding: 29px 0px;
}
.navigazione .mouse:hover{
    border-bottom: 2px solid black;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}
header nav ul li a:hover{
    font-weight: 700;
}
h1{
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
    max-width: 1100px;
    margin: 80px auto 40px auto;
}

.lightblue{
    flex-grow: 1;
}
.photo{
    flex-grow: 2;
}
.photo img{
    width: 780px;
    display: block;
}
.lightblue>*{
    margin-bottom: 30px;
}
.lightblue i{
    font-size: 30px;
    margin-top: 30px;
}

/*
*********
MAIN
*********
*/

.container2{
    margin: 50px auto;
    max-width: 1000px;
}
.checkbox{
    margin: 70px 0px 50px 0px;
    gap: 0px 50px;
}

/*
Inizio tabelle
*/

.type{
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 10px 0px;
}
.mbox h3{
    margin-top: 35px;
}
.container3{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.table{
    border: 1px solid #d0d0d3;
    margin: 50px 0px;
}
#horizon{
    display:flex;
}
.fourth{
    width: 70%;
    padding-right: 60px;
}
.fifth{
    width:30%;
    margin: -20px 0px;
}

/*
Sezione foto e paragrafo
*/

#reverse{
    flex-direction: row-reverse;
    margin: 150px 0px;
}
#alternative{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.photo2{
    flex-grow: 2;
}
.photo2 img{
    width: 100%;
}
#contact{
    padding: 30px 70px 0px 50px;
}

/*
Presentazione programma
*/
#distance h2{
    margin: 40px 0px;
}
.item{
    width: 30%;
}
.item img{
    width: 100%;
}
.item h3{
    margin:15px 0px 20px 0px;
}
.sixth{
    margin: 70px 0px;
}
.link{
    margin: 50px 0px;
}

/*
Sezione Clienti
*/

.square{
    margin-top: 150px;
    display:flex;
}
.square-clients{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
.small-square{
    height: 50%;
    width:50%;
    position: relative;
}
.small-square.active{
    border:15px solid rgba(255, 255, 255, 0,5)
}
.bg-green{
    background-color: #a2d39b;
}
.bg-dark{
    background-color: #61082b;
}
.bg-blue{
    background-color: #0093ce;
}
.bg-light{
    background-color: #ff1c1c;
}
.bg-red{
    background-color: #d5001f;
}
.bg-lightblue{
    background-color: #b4d0e7;
}
.bg-darkblue{
    background-color: #0d2481;
}
.bg-yellow{
    background-color: #ffd830;
}
.small-square img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}
.wid{
    max-width: 100%;
}
.description{
    padding: 20px 50px;
    overflow: auto;
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
.description hr{
    margin-top: 30px;
    color: gray;
}
.description p{
    margin: 40px 0px;
}
.description img{
    width: 60%;
    padding-top: 10px;
}
.bg-grey{
    background-color: #f5f5f5;
}
#flecs{
    display: flex;
}
.fifty{
    width: 50%;
}
.fifty button{
    border: none;
    padding: 5px 20px;
    margin-top: 5px;
}
.fifty h2{
    color: #61082b;
}
#alternative2{
    border: none;
    background-color: white;
    color: black;
}
