/*
*********
RESET
*********
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*
*********
COMMON
*********
*/

.btn{
    background-color: #0061ff;
    padding: 10px 15px;
    color: white;
    border: none;
}
h1,h2,h3{
    font-weight: bolder;
}
.hbox{
    margin: 20px auto; 
    max-width: 1100px;
    display: flex;
}

/*
*********
HEADER
*********
*/

header{
    background-color: #b4d0e7;
}

.container{
    height: 700px;
    margin: 20px auto;
    padding-top: 100px;
}

header nav{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: white
}

.navigazione{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.navigazione ul{
    display: flex;
    align-items: center;
    padding: 30px 20px;
    gap: 0 20px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 50px;
    max-width: 1100px;
    margin: 100px auto 10px auto;
}

.lightblue{
    flex-grow: 1;
}
.photo{
    flex-grow: 2;
}
.photo img{
    width: 780px;
    display: block;
}
.lightblue>*{
    margin-bottom: 30px;
}
.lightblue i{
    font-size: 30px;
    margin-top: 30px;
}